scikit-image                                                                                              
scipy                                                                                                     
numba                                                                                                     
pillow                                                                                                    
matplotlib                                                                                                
fire                                                                                                      
tensorboardX                                                                                              
protobuf                                                                                                  
opencv-python                                                                                             
opencv-contrib-python                                                                                     
pybind11                                                                                                  
vtk                                                                                                       
joblib                                                                                                    
easydict                                                                                                  
open3d==0.9.0.0                                                                                             
terminaltables                                                                                            
pytest-runner                                                                                             
addict                                                                                                    
pycocotools                                                                                               
imagecorruptions                                                                                          
objgraph                                                                                                  
einops
ipython
Cython
pyyaml
setuptools==39.1.0